@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 38 92% 50%;
  --foreground: 20 14.3% 4.1%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 38 92% 50%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-feature-settings: "rlig" 1, "calt" 1;
}
